<div class="feed">
	<ul><% @data.items.each do |item| %>
		<li>
			<h3><a href="<%= item.link %>"><%= item.title %></a></h3>
			<div class="date"><%= item.date.strftime("%b %d, %Y") %></div>
		</li><% end %>
	</ul>
</div>
